.header-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 7rem;
}

.navigation-container {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
    margin-left: 4rem;
    font-size: 1.2rem;
}


.login-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 2rem;
    color: rgb(92, 91, 91);
}

.list-items {
    padding: .7em;
}

.header-text {
    font-size: 1.8rem;
    margin-left: 2rem;
}

.login-btn {
    padding: 1rem;
    margin-right: 1.5rem;
}

.register {
    border: 1px solid gray;
    border-radius: 1rem;
}

.dropdown-items-container {
    position: absolute;
    left: 8.1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: -.2rem .2rem .7rem rgb(160, 156, 156);
}

.second-one {
    left: 18rem;
}

.dropdown-items {
    padding: 1rem 2rem;
    color: rgb(92, 91, 91);
}

.dropdown-items > span {
    margin-right: .8rem;
}

.icon-anchor {
    text-decoration: none;
    color: rgb(92, 91, 91);
}

.arrow-icon {
    margin-left: .6rem;
}

.hover-color {
    color: black;
}

.login-hover {
    color: black;
}

